.info{
    font-size: 15px;
    padding:2px;
}

.input {
    width: 91%;
    padding: 10px 10px;
    margin: 10px ;
    border-radius: 15px;
    /* box-sizing: border-box; */
}

.createspotform{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;


}
.spotform , .title{
    display:flex;
    justify-content: center;
    /* width:500px; */
}

.spotform form{
    border: solid 1px;
    width:500px;
    padding: 10px 10px;
    border-radius: 20px;
}

.error-createspot{
    margin: 0 10px 20px 10px;
    padding: 5px 0px 5px 14px;
    background-color:#FF385C ;
    border-radius: 10px;
    color:white;
}

.submit{
    background-color: #FF385C;
    margin: 15px 10px;
    width: 97%;
}

.errortitle{
    font-size:24px ;
    color: #FF385C
}

.submit{
    height: 30px;
}
