.reviewbox-wrapper{
    width:50%;
    /* overflow-wrap: break-word; */
}


.reviewbox{
    margin-top: 10px;
}

.review-name{
    margin-top:3px;
    font-size: 20px;
}

.review-time{
    margin-top:3px;
}

.review-detail{
    margin-top:3px;
    margin-bottom:4px;
    /* word-break: break-word; */
    /* width:50px; */
    word-break: break-all;
}

.leavereview{
    text-decoration: none;
    color:black;
    border: 3px;
    background-color:#FF385C ;
    border-radius: 10px;
    height: auto;
}

.leavereview:hover{
    background-color: #f0ecec;
    width:fit-content;
    color:white;
    background-color: #FF385C;
    cursor:pointer
}
