.spotdetail-container{
    display:flex;
    flex-direction:column;
    padding-left:20%;
    padding-right:20%

}

.spotname {
    font-size: 2em;
    /* padding-left:80px; */
}

.spotinfo {
    font-size: 25px;

}

 .pic-wrapper {
    display:flex;
    height:570px;
    width:100%;
    flex-wrap:nowrap;
    }


.bigPic {
    width:500px;
    height:500px;
    padding:5px 5px;
    /* border-left: 20px; */
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}

.smallPics {
    /* display:flex;
    flex-wrap:wrap; */
    width:500px;
    height:500px;
    object-fit: cover;
}

.smallpic {
    width:240px;
    height:245px;
    padding:5px 5px 0px;
    object-fit: cover;
}

.right-top{
    border-radius: 0 15px 0 0;
}

.right-bot{
    border-radius: 0 0 15px 0;
}

.hostby{
    font-size: 26px;
    height: 50px;
    padding-top: 20px;
}

.spot-desc{
    font-size: 18px;
    padding:30px 0px;
    border-style: none none solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, .20);
    height:54px;
}

.guests{
    font-size:18px;
    border-style: none none solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, .20);
    padding:20px 0px;
}

.static-info{
    font-size:18px;
    padding:20px 0px;
}

.lastone{
    font-size:18px;
    padding:10px 0px;
    border-style: none none solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, .20);
}

.middle{
    display:flex
}

.middle-left{
    width:650px;
    padding-right:10px;
}

.middle-right{
    width:25%;
    height:250px;
    border-radius: 20px;
    border-style:solid;
    border-width: 1px;
    border-color: #dddddd;
    margin-left: 35px;
    margin-top: 20px;
    position: sticky;
    top: 0;
}

.middle-rightinfo-big{
    font-size:30px;
    padding:10px;
}

.middle-rightinfo {
    font-size:20px;
    padding:10px;

}
.total{
    font-size:22px;
    padding:10px;
}
.middle-rightinfo-last{
    font-size:20px;
    padding:10px;
    border-style: none none solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, .20);
}

.reviewtitle{
    font-size: 25px;
    margin-bottom: 30px;
}
