.signupform-wrapper{
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width:100%;
    border-radius:25px;
    /* overflow: auto; */
}
.signup-display{
    border: 3px solid;
    display:block;
    padding: 5px 5px;
    margin: 10px 10px;
    width:90%;
    border-radius: 15px;
    border-color:rgb(133, 133, 133);
}

.signupButton{
    background-color: #FF385C;
    /* margin-left: 25%; */
    display:flex;
    /* align-items: center; */
    justify-content: center;
    width:50%;
    border-radius: 15px;
    margin-top: 15px;
    margin-left:25%
}

.thankyou{
    color:#FF385C;
    margin:auto;
}

.error1{
    color:#FF385C
}
