.logincontainer {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width:100%;
    border-radius:25px;


}

.display {
    border: 3px solid;
    display:block;
    padding: 5px 5px;
    margin: 10px 10px;
    width:90%;
    border-radius: 15px;
    border-color:rgb(133, 133, 133);
    /* border: 1px; */
    /* overflow: auto; */
}

.loginButton1 {
    background-color: #FF385C;
    margin-left: 25%;
    margin-bottom: 10px;
    margin-top: 10px;
    /* align-items: center; */
    width:50%;
    border-radius: 15px;
    cursor:pointer;
}

.loginButton2 {
    background-color: #FF385C;
    margin-left: 25%;
    margin-bottom: 10px;
    margin-top: 10px;
    /* align-items: center; */
    width:50%;
    /* height:20px; */
    border-radius: 15px;
    cursor:pointer;
}
